<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clay.security.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.clay.security.entity.RolePermission">
        <result property="rid" column="rid" jdbcType="BIGINT"/>
        <result property="pid" column="pid" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid
        ,pid
    </sql>

</mapper>
