<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clay.security.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.clay.security.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,username,password
    </sql>

    <select id="selectRoleByUserId" resultType="com.clay.security.entity.Role">
        SELECT r.id, r.name, r.code
        FROM role r
                 INNER JOIN user_role ru ON r.id = ru.rid
        where ru.rid = #{userId}
    </select>

    <select id="selectMenuById" resultType="com.clay.security.entity.Permission">
        SELECT p.id, p.name, p.url, p.parent_id, p.code
        FROM permission p
                 INNER JOIN role_permission rp ON p.id = rp.pid
                 INNER JOIN role r ON r.id = rp.rid
                 INNER JOIN user_role ru ON r.id = ru.rid
        where ru.rid = #{userId}
    </select>

</mapper>
