<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.distributed.transaction.mapper.AccountMapper">

    <update id="updateBalance">
        update `t_account` set balance = balance + #{delta} where id = #{id} and balance + #{delta} >= 0
    </update>

</mapper>