<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.distributed.db.dao.EmployeeMapper">

	<select id="queryAll" resultType="Employee">
		select id, last_name, gender, email
		from t_employee
	</select>

	<delete id="delEmpById" parameterType="Long">
		delete from t_employee
		where id = #{id}
	</delete>

</mapper>