<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 定义日志输出的格式，包括时间格式 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义日志的级别和输出方式 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
